.calculator{
    display: flex;
    flex-direction: column;
    background-color: rgb(9, 10, 58);
    width: 450px;
    height: 500px;
    position: absolute;
    padding: 20px;
    margin: 50px 450px;
    gap: 12px;
}


.calculator-input{
    background-color:rgb(255, 102, 0);
    padding: 30px;
    border-radius:5px ;
}

.result{
    font-size: 30px;
    font-weight: bold;
    color: antiquewhite;
}
